// .ckus_middle_page {
//
//     .ckus_check .ckus_date {
//         top: 0.10in;
//         left: 6.75in;
//         width: 0.98in;
//         text-align: center;
// }

.ckus_stub .sequence_number {
    position: absolute;
    bottom: 8px;
    left: -1.80in;
    padding: 10px;
    font-size: 12px;
}